<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UseJapaneseColor" value="False"/>
    <add key="UseAlpha" value="True"/>
    <add key="isScreenSaver" value="True"/>
    <add key="Range.ofFont" value="10,1000"/>
    <add key="Range.ofPen" value="1,100"/>
    <add key="miniWide" value="10"/>
    <add key="miniHigh" value="10"/>
    <add key="miniSizej" value="10"/>
    <add key="maxSizej" value="500"/>
    <add key="maxSize_" value="1000"/>
    <add key="intervalInSeconds" value="15"/>
    <add key="LastModified" value="2019-07-18T15:00:0.0+09:00"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
